@{
       ViewBag.Title = "Contact";
}
<h3 style="margin-left:5px">@ViewBag.Title.</h3>


<address style="background-image:url(../../www/images/img2.jpg);height:300px; font-size:15px; margin-left:5px; font-size:15px">


    <br /> United Health Group<br />
    sector 39, Gurugram <br />
    Haryana<br />
    <abbr title="Phone">P:</abbr>
    111222111
</address>

<address>
    <strong>Support:</strong>   <a href="http://www.unitedhealthgroup.com/">unitedhealthgroup.com</a><br />
    
</address>