@{
    ViewBag.Title = "";
}

<div class="jumbotron" style="background-image:url('../../www/images/img2.jpg');  width: 1200px">
    <h1>Optum Provider Portal</h1>
    <p class="lead">This web page focuses on CI/CD implementation.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>About the customer</h2>
        <p>
            The customer is an insurance holding company based in San Juan, Puerto Rico.
        </p>
        <p><a class="btn btn-default" href="https://management.grupotriples.com/en/">website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Continuous Integration</h2>
        <p>Integrating, building, and testing code within the development environment.</p>

    </div>
    <div class="col-md-4">
        <h2>Continuous deployment</h2>
        <p>
            Every change goes through the pipeline and automatically gets put into production, resulting in many production deployments every day.
        </p>

    </div>
</div>